.row.comment{"data-comment-id"=> comment.id}
  .col-sm-1.comment-author
    %img{src: comment.user.profile.picture_url}
  .col-sm-8.comment-name
    %p.wrote-at
      = "#{comment.user.short_name} commented #{relative_time(comment.created_at)}:"
    = comment.name
  .col-sm-3.comment-icons
    .row
      .col-sm-3
        %span.like.js{'data-like-comment-id'=> comment.id,
                      class:"#{"liked" if comment.liked_by?(current_user)}",
                      onclick: "comment_toggle_like('#{comment.id}')",
                      title: 'Нравится комментарий'}
          %i.fa.fa-heart.transition
        %i.like-count{'data-like-count-comment-id'=> comment.id}
          = comment.likers(User).count
      .col-sm-3
        - if comment.user == current_user
          %span.trash{onclick:"comment_trash('#{comment.id}')",
                      title: 'Удалить комментарий'}
            %i.fa.fa-trash-o
        - else
          %span
            &nbsp;
