.row.comment{"data-comment-id"=> comment.id}
  .col-md-1.comment-author
    %img{src: comment.user.profile.picture_url}
    .name= comment.user.short_name
  .col-md-8.comment-name
    = comment.name
  .col-md-3.comment-icons
    %span.star.js{onclick: "comment_toggle_star('#{comment.id}')"}
      %i.fa.fa-star.transition
    %span.like.js{onclick: "comment_toggle_like('#{comment.id}')"}
      %i.fa.fa-heart.transition
    - if comment.user == current_user
      %span.trash{onclick:"comment_trash('#{comment.id}')"}
        %i.fa.fa-trash-o
    - else
      %span
        &nbsp;
    %br
    .timeago{:onclick => ""} right now

