.row.single-tweet{'data-tweet_id'=> tweet.id}
  .col-md-1.tweet-author
    %img{src: tweet.user.profile.picture_url}
    .name= tweet.user.short_name
  .col-md-8.tweet-name
    = tweet.name
  .col-md-3.tweet-icons
    %span.comment{onclick:"tweet_comment('#{tweet.id}')"}
      %i.fa.fa-comment.transition
    %span.star{onclick:"tweet_toggle_star('#{tweet.id}')"}
      %i.fa.fa-star.transition
    %span.like{onclick:"tweet_toggle_like('#{tweet.id}')"}
      %i.fa.fa-heart.transition
    - if tweet.user == current_user
      %span.trash{onclick:"tweet_trash('#{tweet.id}')"}
        %i.fa.fa-trash-o
    - else
      %span
        &nbsp;
    %br
    .timeago
      = relative_time(tweet.created_at)

  -#.row.tweet-comments
  -#  Comments:
  -#  %br
  -#  = render tweet.comments