<!DOCTYPE html>
<html>
<head>
  <title>OyBro Forum</title>
  <%= tag :meta, :name => "fb-app-id", :content => "#{ENV['FB_APP_ID']}"%>
  <%= tag :meta, :name => "pusher-key", :content => "#{ENV['PUSHER_KEY']}"%>
  <%= tag :meta, :name => "cur-user-id", :content => "#{current_user ? current_user.id : ''}"%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Fix unsupported property -->
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Hi. My name is Vitaly, and I am a Ruby-on-Rails [fullstack] Strong_Middle developer.', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li>
            <%= link_to "Sign out", signout_path, id: "sign_out_facebook" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
  <% end %>
</div>

<% unless current_user %>
  <div class="container">
    <%= render partial:'sessions/signin'%>
    <hr class='margin-bottom-md'/>
    <%= render partial: 'extra/readme'%>
  </div>
<% end %>

<%= yield %>

<!--<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/226340979&amp;color=3a9ae2&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>-->

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/176209862&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<div class="container-fluid footer-container">
  <%= render partial: 'extra/footer'%>
</div>

</body>
</html>
